#searchbox {
    border-color: #ff0000;
    border-radius: 26px;
    padding: 5px 10px 5px 10px;
}

/*
Textbox, Passwordbox {
    border-color: #bddec7;
    border-style: solid;
    border-width: 3px;
    padding: 20px;
    margin: 0px;
    background-color: #f8ffda;
    shrink-to-fit: true;
}
*/



