/*#idtest1 .-class-Button {
    dummy-prop: 78px;
}
#idtest1 blah .-class-Button {
    dummy-prop1: 1px;
}
#idtest2 .-class-Button {
    dummy-prop2: 165px;
}
#window1 .-class-Button {
    dummy-prop3: 199px;
} */

/* check that id overrides class overrides element */
#testButton {
    prop3: 23px;
}

.-class-Button {
    prop2: 12px;
    prop3: 13px;                        
}

Button {
    prop1: 1px;
    prop2: 2px;
    prop3: 3px;
}



